 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  margin: 87px 60px 0 510px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -478px auto 0 24px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 8px 648px 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 370px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -372px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-right: 472px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}